body{
	margin: 0;
	background-color: white;
}

div.major{
	margin: 0.5vh;
	margin-left: 67%;
	text-align: right;
	width: 31%;
}

@font-face {
    font-family: 'bad';
    src: url('bad/bad-webfont.woff2') format('woff2'),
         url('bad/bad-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

p.h1{
	font-size: 4vh;
	margin-top: 0vh;
	margin-bottom: 1vh;
	font-family: bad;
	color: black;
}

p.h2{
	font-size: 2vh;
	margin-top: 0vh;
	margin-bottom: 0.2vh;
	margin-right: 3vh;
	font-family: bad;
	color: black;
}

p.h3{
	font-size: 1.5vh;
	margin-top: 0vh;
	margin-bottom: 1vh;
	margin-right: 3vh;
	font-family: bad;
	color: black;
}

p.link{
	font-size: 1.5vh;
	margin-bottom: 2.5vh;
	margin-right: 0vh;
	color: black;
	position: absolute;
	right: 2%;
	margin-top: 1%;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

img{
	position: fixed;
	bottom: 0%;
	width: 20vh;
}

@media (prefers-color-scheme: dark) {
	body {
  		background-color: #292929;
	}

	p.h1 {
		color: white;
	}

	p.h2 {
		color: white;
	}

	p.h3 {
		color: white;
	}

	p.link {
		color: white;
	}

	a:link {
		color: white;
	}

	a:visited {
		color: white;
	}

	a:hover {
		color: white;
	}

	a:active {
		color: white;
	}

}